.order-x {
  :global {
    /* 此容器下的antd table覆盖样式 */
    .ant-table-wrapper,
    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-table,
    .ant-table-container {
      height: 100%;
      .ant-table-body {
        overflow-y: auto !important;
        &::-webkit-scrollbar {
          width: 0 !important;
        }
      }
    }
    // .ant-tabs-tabpane {
    //   padding: 0 10px;
    // }
    .ant-table {
      padding: 0 10px;
      font-size: 12px;
      color: $fontColor;
      background-color: unset;
      @include themify {
        color: themed('color-primary');
      }
      /* header&body common */
      .ant-table-cell {
        padding: 0;
        padding-left: 30px;
        @include themify {
          border-color: themed('border-color-table');
        }
        &:first-child {
          padding-left: 20px;
        }
      }
      .op-cell-closeOrder {
        padding-left: unset;
        .op-btn-close {
          margin: 0 22px 0 auto;
          border: 0;
          background: unset;
          @include themify {
            color: themed('color-order');
          }
          &:hover,&:focus {
            color: $themeBlue;
          }
        }
      }
      /* header */
      .ant-table-thead {
        .ant-table-cell-scrollbar {
          display: none;
        }
        & > tr > .ant-table-cell {
          height: 40px;
          box-sizing: border-box;
          font-weight: bold;
          background-color: unset;
          color: inherit;
        }
        .ant-dropdown-trigger, .op-btn-closeOrder {
          width: 70px;
          max-width: 86.59%;
          height: 24px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: bold;
          color: #fff;
          border: none;
          @include themify {
            background-color: themed('color-order');
          }
          .iconDD {
            color: inherit;
          }
        }
      }
      .ant-table-tbody {
        .ant-table-row {
          font-weight: bold;
          .ant-table-cell {
            height: 30px;
            .op-icon-edit {
              margin-left: 1em;
              font-size: 13px;
              cursor: pointer;
              @include themify {
                color: themed('color-icon');
              }
            }
            .op-icon-close {
              font-size: 13px;
              cursor: pointer;
            }
            .op-rkey-badge {
              margin-right: 12px;
            }
            .op-rkey-ticket {
              width: 10em;
              display: inline-block;
            }
            .op-badge-ticket .ant-badge-count {
              background: #000;
              color: #fff;
            }
            .op-openprice {
              min-width: 48%;
              display: inline-block;
            }
            .op-btn-edit {
              padding: unset;
              display: inline-block;
              border: 0;
            }
          }
          &.ant-table-row-level-1 {  /* 树形结构---子行 */
            font-weight: normal;
          }
        }
      }
    }
    /* Modal弹窗 */
    /* --- 订单修改弹窗 */
    .eop-modal-x {
      .ant-modal-body {
        padding: unset;
      }
      .eop-top-x {
        height: 57px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        @include themify {
          background-color: themed('modal-bg-header');
        }
        .eop-symbol {
          margin-right: 5px;
          font-size: 18px;
        }
        .eop-cmd {
          font-size: 13px;
        }
        .eop-price {
          font-size: 12px;
          color: $lightGray;
        }
        .eop-profit {
          font-size: 13px;
          span {
            font-size: 14px;
          }
        }
      }
      .eop-body-x {
        .eop-input-x {
          height: 47px;
          padding: 0 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid;
          @include themify {
            border-color: themed('border-color-table');
          }
        }
        .eop-info-x {
          margin: 1em 0;
          padding: 0 30px;
          font-size: 12px;
          p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.8em;
          }
        }
      }
      .ant-modal-footer {
        border-top: 0;
        display: flex;
        justify-content: center;
      }
    }
    /* --- 确认平仓/删除挂单的弹窗 */
    .op-confirm-closeOrder {
      .ant-input-number {
        @include themify {
          color: themed('color-input');
        }
      }
      
    }
    /* common style */
    // .color-up {
    //   color: $buyColor;
    // }
    // .color-down {
    //   color: $sellColor;
    // }
  }
}