

// 覆盖组件样式
// .card-container {
  .ant-tabs-card {
    height: 100%;
    .ant-tabs-content {
      height: calc(100% + 16px);
      margin-top: -16px;
      & > .ant-tabs-tabpane {
        background-color: $bgColor;
      }
    }
    & > .ant-tabs-nav {
      &::before {
        display: none;
      }
      .ant-tabs-tab {
        width: 100px;
        height: 30px;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        border-color: $themeBlue;
        background: $themeBlue;
        border-radius: 0 !important;
        &-active {
          color: $themeBlue;
          border-color: $bgColor;
          background: $bgColor;
          border-radius: 0 !important;
          .ant-tabs-tab-btn {
            color: inherit !important;
            font-weight: bold;
          }
        }
        .ant-tabs-tab-btn:focus,.ant-tabs-tab-btn:active {
          color: $themeBlue;
        }
      }
    }
  }
// }