@charset 'utf-8';
@import './variables.scss';

@mixin bg-color() {
  background-color: $bg-color-light;
  [data-theme='light'] & {
    background-color: $bg-color-light;
  }
  [data-theme='dark'] & {
    background-color: $bg-color-dark;
  }
}
@mixin bg-panel-color() {
  background-color: $bg-panel-light;
  [data-theme='light'] & {
    background-color: $bg-panel-light;
  }
  [data-theme='dark'] & {
    background-color: $bg-panel-dark;
  }
}

@mixin font-color {
  [data-theme='light'] & {
    .font-primary {
      color: $font-pmColor-light
    }
    .font-default {
      color: $font-dfColor-light;
    }
  }
}