// reset
// 取消按钮点击光晕效果
button[ant-click-animating-without-extra-node]:after {  
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}
.btn-reset {
  border: 0;
  background-color: unset;
}
p {
  margin: unset;
}

// antd loading
.ant-spin.ant-spin-spinning .ant-spin-dot-item {
  background-color: $themeBlue;
}
// antd inputNumber
.ant-input-number {
  @include themify {
    color: themed('color-primary');
    background-color: themed('bg-color-search');
    border-color: themed('border-color-search');
  }
  &:hover,&:focus,
  &.ant-input-number-focused {
    box-shadow: unset;
    // @include themify {
    //   border-color: themed('border-activeh');
    // }
  }
  // &:focus {
  //   box-shadow: unset;
  // }
  // &.ant-input-number-focused {
  //   border-color: $themeBlue;
  //   box-shadow: unset;
  // }
  .ant-input-number-handler-wrap {
    @include themify {
      color: themed('color-primary');
      background-color: themed('bg-color-2');
      border-color: themed('border-color-table');
      .ant-input-number-handler-down {
        border-color: inherit;
      }
    }
    .ant-input-number-handler,
    .ant-input-number-handler-up-inner,
    .ant-input-number-handler-down-inner {
      color: inherit;
    }
    .ant-input-number-handler:active {
      @include themify {
        background-color: themed('bg-color-trHover');
      }
    }
    // .ant-input-number-handler:hover .ant-input-number-handler-up-inner, .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
    //   color: inherit;
    // }
  }
}
// antd btn primary
.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  background: unset;
}
.ant-btn-primary {
  border-color: unset !important;
  &:hover {
    border-color: unset !important;
  }
  &[disabled],&[disabled]:hover {
    color: #fff !important; 
    opacity: .65 !important;
  }
}
.ant-btn-default {
  padding: 0 5px;
  background: unset;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: unset;
  }
}
// antd modal common
.ant-modal-footer button + button,
.ant-modal-confirm .ant-modal-confirm-btns button + button {
  margin-left: 10px !important;
}
// --- antd confirm
.ant-modal-confirm {
  .ant-modal-confirm-title {
    color: inherit !important;
  }
  .ant-modal-confirm-content {
    margin-top: 1.5em !important;
    @include themify {
      color: themed('color-default');
    }
  }
  .ant-modal-confirm-btns {
    margin-top: 1.5em !important;
    float: unset !important;
    text-align: center !important;
  }
  
}
// --- antd radio.group
.ant-radio-group {
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: unset;
  }
  // .ant-radio-button-wrapper-checked {
  //   @include themify {
  //     color: themed('color-tabActive');
  //   }
  // }
  .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    @include themify {
      border-right-color: themed('border-active');
    }
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    @include themify {
      border-color: themed('border-active');
    }
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    @include themify {
      background-color: themed('border-active');
    }
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
  .ant-radio-button-wrapper:hover {
    @include themify {
      color: themed('color-tabActive') !important;
      border-color: themed('border-active') !important;
    }
  }
  // .ant-radio-button-wrapper:hover {
  //   color: $themeBlue !important;

  // }
}
// --- antd datepicker
.ant-picker-dropdown {
  @include themify {
    color: themed('color-primary');
  }
  .ant-picker-panel-container {
    @include themify {
      background: themed('bg-color-search');
    }
    .ant-picker-cell:not(.ant-picker-cell-in-view) {
      @include themify {
        color: themed('color-default');
      }
    }
    .ant-picker-header,
    .ant-picker-header button,
    .ant-picker-content th, 
    .ant-picker-cell-in-view,
    .ant-picker-today-btn { 
      color: inherit;
    }
    .ant-picker-panel,
    .ant-picker-footer {
      border-bottom: none;
    }
    .ant-picker-header,
    .ant-picker-panel,
    .ant-picker-footer {
      @include themify {
        border-color: themed('border-color-table');
      }
    }
    .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
      @include themify {
        background: themed('bg-color-cdToday');
      }
    }
    .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
      @include themify {
        border-color: themed('bg-color-cdToday');
      }
    }
    .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
      @include themify {
        background: themed('bg-color-trHover');
      }
    }
  }
}
// --- antd dropdown
.ant-select-dropdown {
  @include themify {
    color: themed('color-primary');
    background-color: themed('bg-color-search');
  }
  .ant-select-item {
    color: inherit;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled),
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    @include themify {
      background-color: themed('bg-color-trHover');
    }
  }
  
}
// --- antd dropdown1 {
.ant-dropdown-menu {
  @include themify {
    color: themed('color-primary');
    background-color: themed('bg-color-search');
  }
  .ant-dropdown-menu-item:not(.ant-dropdown-menu-item-disabled),
  .ant-dropdown-menu-item:not(.ant-dropdown-menu-item-disabled) > a {
    color: inherit;
  }
  .ant-dropdown-menu-item:hover {
    @include themify {
      background-color: themed('bg-color-trHover');
    }
  }
  .ant-dropdown-menu-item-disabled {
    @include themify {
      color: themed('color-disabled');
    }
  }
}
// --- antd table 补充
.ant-table-tbody {
  & > tr.ant-table-placeholder,
  & > tr.ant-table-row {
    &:hover > td {
      @include themify {
        // color: themed('color-primary');
        background-color: themed('bg-color-trHover');
      }
    }
    .ant-empty-normal {
      @include themify {
        color: themed('color-input');
      }
    }
  }

}
// --- antd modal
.ant-modal-content {
  @include themify {
    color: themed('color-primary');
    background-color: themed('bg-color-2');
  }
  .ant-modal-close {
    color: inherit;
  }
  .ant-modal-header {
    color: inherit;
    @include themify {
      background: themed('modal-bg-header');
      border-color: themed('border-color-table');
    }
    .ant-modal-title {
      color: inherit;
    }
  }
}
// --- antd notification
// .anticon.ant-notification-notice-icon-success {
//   @include themify {
//     color: themed('color-green');
//   }
// }
// .anticon.ant-notification-notice-icon-error {
//   @include themify {
//     color: themed('color-red');
//   }
// }
.ant-notification-notice-close,
.ant-notification-notice-message,
.ant-notification-notice-description {
  @include themify {
    color: themed('color-primary');
  }
}


// wt common
// --- btn group (主要是返回和确定按钮)
.wt-btn-ok,
.ant-modal-confirm-btns .ant-btn.ant-btn-primary {
  border: 0;
  @include themify {
    background: themed('modal-bg-btnOk') !important;
  }
  &[disabled],&[disabled]:hover {
    opacity: .65 !important;
  }
}
.wt-btn-cancel,
.ant-modal-confirm-btns .ant-btn:not(.ant-btn-primary) {
  @include themify {
    color: themed('modal-color-btnCancel');
    background-color: themed('modal-bg-btnCancel');
    border-color: themed('border-color-table');
  }
  &:hover {
    @include themify {
      color: themed('modal-color-btnHover');
    }
    border-color: currentColor;
  }
}
.wt-input-error {
  border-color: $sellColor !important;
  color: $sellColor !important;
}
.ant-btn {
  .wt-icon {
    @include themify {
      color: themed('color-icon');
    }
  }
  &:hover .wt-icon {
    color: $themeActive;
  }
}
// --- notification
.wt-noti-success {
  @include themify {
    background: themed('bg-color-notiSuccess');
  }
  .anticon.ant-notification-notice-icon-success,
  .anticon.ant-notification-notice-icon-error {
    @include themify {
      color: themed('color-notiSuccess');
    }
  }
}
.wt-noti-error {
  @include themify {
    background: themed('bg-color-notiError');
  }
  .anticon.ant-notification-notice-icon-success,
  .anticon.ant-notification-notice-icon-error {
    @include themify {
      color: themed('color-notiError');
    }
  }
}

// common css style
.dp-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-up {
  @include themify {
    color: themed('color-green') !important;
  }
}
.color-down {
  @include themify {
    color: themed('color-red') !important;
  }
}