$mainBgColor: #e2e6e9;
$themeBlue: #3f535a;
$themeBlack: #333;
$bgColor: #fff;
$lightGray: #9ea4a9;
$sellColor: #fc3131;
$buyColor: #00b276;
$fontColor: #363636;
$fontColorForLight: rgba(54, 54, 54, .7);
$tableBorder: #eee;

// 背景色
$bg-color-light: #e2e6e9;
$bg-color-dark: #000;
$bg-panel-light: #fff;
$bg-panel-dark: #152126;

// 字体
$font-pmColor-light: #363636;
$font-pmColor-dark: #fff;
$font-dfColor-light: #9ea4a9;
$font-dfColor-dark: #698490;