.calendar-x {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  :global {
    .ant-picker {
      width: 160px;
    }
    .ant-select {
      min-width: 90px;
    }
    .cp-filter-x {
      font-size: 12px;
      & * {
        font-size: inherit;
      }
      .ant-radio-button-wrapper,
      .ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
      .ant-picker {
        height: 30px;
        line-height: 28px;
        @include themify {
          color: themed('color-input');
          background: themed('bg-color-search');
          border: 1px solid themed('border-color-search');
        }
      }
      // .ant-radio-button-wrapper,
      // .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      //   height: 30px;
      //   line-height: 28px;
      // }
      .ant-picker {
        .ant-picker-input > input,
        .ant-picker-suffix {
          @include themify {
            color: themed('color-input');
          }
        }
      }
    }
    .cp-tables-ul {
      width: 100%;
      margin-top: 15px;
      flex: 1;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      .cp-table-li {
        .ant-rate {
          font-size: 14px;
          .ant-rate-star:not(:last-child) {
            margin-right: 0;
          }
          .ant-rate-star-zero {
            .ant-rate-star-first, .ant-rate-star-second {
              @include themify {
                color: themed('bg-color-trHover');
              }
            }
          }
          .ant-rate-star-full {
            .ant-rate-star-first, .ant-rate-star-second {
              @include themify {
                color: themed('bg-color-hl');
              }
            }
          }
        }
        .ant-table {
          background-color: unset;
          @include themify {
            color: themed('color-primary');
          }
          .ant-table-title {
            padding: 0 0 15px 2px;
            font-size: 13px;
            font-weight: bold;
            color: inherit;
          }
          .ant-table-thead > tr > th {
            height: 40px;
            padding: 0;
            box-sizing: border-box;
            border-top: 1px solid;
            color: inherit;
            font-size: 12px;
            background: unset;
          }
          .ant-table-thead > tr > th,
          .ant-table-tbody > tr > td {
            @include themify {
              border-color: themed('border-color-table');
            }
          }
          .ant-table-tbody > tr.ant-table-row:hover > td {
            @include themify {
              background: themed('bg-color-trHover');
            }
          }
        }
        .cp-img-flag {
          width: 44px;
        }
        .cp-img-people {
          width: 40px;
          margin-right: 5px;
        }
        
        .cp-btn-ecoDetail {
          background-color: unset;
          border: 0;
          box-shadow: unset;
          @include themify {
            color: themed('color-icon');
          }
        }
      }
    }
    .ecod-modal-x {
      .ant-modal-content {
        .ant-modal-close {
          color: #fff;
        }
        .ant-modal-body {
          position: relative;
          .ecod-btn-download {
            position: absolute;
            top: 14px;
            right: 24px;
            border: 0;
            font-size: 12px;
            color: inherit;
            z-index: 1;
            outline: none;
            .icon-download {
              position: relative;
              top: 1px;
              font-size: 14px;
            }
          }
          .ecod-desc-x {
            margin-top: 2em;
            font-size: 14px;
            line-height: 1.8em;
            // color: $fontColor;
            p + p {
              margin-top: .5em;
            }
            p > span:first-child {
              font-weight: bold;
            }
          }
        }
      } 
    }
    .mt-0 {
      margin-top: 0 !important;
    }
  }
}