.line-tabs {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.line-tabpane {
  flex: 1;
  height: 100%;
}

.line-container {
  height: 100%;
  .ant-tabs {
    height: 100%;
    .ant-tabs-nav {
      width: 100%;
      .ant-tabs-nav-list {
        width: 100%;
        justify-content: space-between;
        .ant-tabs-tab {
          flex: 1;
          height: 30px;
          margin: 0;
          justify-content: center;
          .ant-tabs-tab-btn {
            font-weight: bold;
            color: $lightGray;
          }
          &-active .ant-tabs-tab-btn {
            color: $themeBlack;
          }
        }
        .ant-tabs-ink-bar {
          height: 1px;
          background: $themeBlack;
        }
      }
    }
    .ant-tabs-content-holder {
      width: 100%;
    }
  }
  .ant-tabs-top > .ant-tabs-nav::before {
    border-color: $lightGray;
  }
}