// reset
// .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
//   border-top: 0;
// }
.chartpanes-x {
  &.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    width: 100%;
    height: 30px;
    padding-top: 2px;
    box-sizing: border-box;
    background: $mainBgColor;
    .ant-tabs-tab {
      flex: 1;
      height: 100%;
      padding: 0 8px 0 24px;
      display: flex;
      justify-content: space-between;
      color: $fontColor;
      border: 0;
      // border-top: 2px solid $mainBgColor;
      background: #f7f7f7;
      &.ant-tabs-tab-active {
        background: #fff;
        // border-top-color: #fff;
      }
      &:nth-last-child(2) {
        margin-right: 0 !important;  /* 覆盖tabBarGutter */
      }
    }
    .ant-tabs-ink-bar {
      background: #fff;
      visibility: visible;
    }
  }

}