.iconDelete {
  font-size: 12px;
}

.symbol-x {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    height: 0 !important;
  }
  :global {
    .symbol-ul {
      max-width: 100%;
      display: flex;
      flex-wrap: nowrap;
      .symbol-li {
        height: 30px;
        padding: 0 8px 0 24px;
        box-sizing: content-box;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        // background-color: #f7f7f7;
        border-top: 2px solid;
        @include themify {
          color: themed('color-primary');
          background-color: themed('bg-color-subTab');
          border-top-color: themed('border-color-main');
        }
        cursor: pointer;
        &.active {
          @include themify {
            color: themed('color-primary');
            background-color: themed('bg-color-4');
            border-top-color: themed('bg-color-4');
          }
        }
        & + .symbol-li {
          margin-left: 2px;
        }
        & > span {
          font-size: 13px;
          font-weight: bold;
        }
        .btn-symbol-delete {
          height: unset;
          padding: unset;
          color: inherit;
        }
      }
    }

  }
}