$cutOffLine: #e7e9ea;
$tableRow: #f7f7f7;

.tableBox {
  :global {
    
    // 控制表格滚动区域高度
    .ant-table-wrapper {
      // height: calc(100% - 37px);
      * {
        height: 100%;
        .ant-table-header,.ant-table-header * {
          height: unset;
        }
        .ant-table-body {
          max-height: calc(100% - 26px);
          overflow: auto;
          * {
            height: unset;
          }
        }
      }
    }
    .ant-table-thead.ant-table-thead > tr > th {
      position: relative;
      height: 26px;
      padding: 0;
      text-align: center;
      font-size: 12px;
      color: $lightGray;
      background-color: unset;
      border-color: $cutOffLine;
      & + th::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: "";
        width: 1px;
        height: 11px;
        background-color: $cutOffLine;
      }
    }
    .ant-table-tbody { 
      .ant-table-row {
        &.dark-row {
          background-color: $tableRow;
        }
        .ant-table-cell {
          height: 30px;
          padding: 0;
          font-size: 12px;
          color: $fontColor;
          &:not(:first-child) {
            text-align: center;
          }
        }
      }
    
    }
    // 展开行样式
    // reset
    .ant-table-expanded-row > .ant-table-cell {
      padding: 0 !important;
    }
    .quote-expand-tr {
      .qe-row-1 {
        height: 44px;
        display: flex;
        justify-content: space-between;
        .qe-btn {
          position: relative;
          height: 100%;
          flex: 1;
          font-size: 16px;
          line-height: 1em;
          color: #fff;
          border: 0;
          .qe-price {
            position: absolute;
            bottom: 10px;
            left: 10px;
          }
          .qe-type {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 13px;
          }
          &.qe-btn-sell {
            background-color: $sellColor;
          }
          &.qe-btn-buy {
            background-color: $buyColor;
            .qe-price {
              left: unset;
              right: 10px;
            }
            .qe-type {
              right: unset;
              left: 10px;
            }
          }
        }
        .qe-spread {
          width: 44px;
          height: 44px;
          margin: 0 3px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: #e7e9ea;
          font-size: 13px;
          word-break: break-all;
          text-align: center;
          color: inherit;
        }
      }
      .qe-row-2 {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        background-color: #fff;
        .qe-val {
          height: 100%;
          padding: 0 6px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 1px solid currentColor;
          border-top: 0;
          &.qe-high {
            color: $sellColor;
          }
          &.qe-low {
            color: $buyColor;
          }
        }
      }
    }
    .quote-up {
      .iconDown,.ant-table-cell:nth-child(n+2) {
        color: $buyColor;
      }
      .iconDown {
        transform: rotate(180deg);
      }
    }
    .quote-down {
      .iconDown,.ant-table-cell:nth-child(n+2) {
        color: $sellColor;
      }
    }
    .hide {
      display: none !important;
    }
    @media screen and (max-width: 1500px) {
      .qe-spread {
        font-size: 1vw;
      }
    }
  }
}