$spreadColor: #e7e9ea;
$gap: 6px;

.quote-panes-x {
  width: 25%;
  margin-right: $gap;
  :global {
    // iconfont
    .icon-kline,.icon-favorite {
      margin-right: 25px;
      font-size: 14px;
      color: $fontColor;
      cursor: pointer;
    }
    .icon-kline {
      margin-right: 20px;
      font-size: 20px;
    }
    // antd tabs
    .ant-tabs-content {
      height: 100%;
    }
    .ant-tabs-tabpane {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // antd table
      .ant-table-wrapper {
        max-height: calc(100% - 50px);
        flex: 1;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0 !important;
        }
        .ant-table-header {
          background-color: #fff;
        }
        .ant-table-tbody > tr > td {
          border: 0;
          font-weight: bold;
        }
        .ant-table-thead > tr > th:first-child, 
        .ant-table-tbody > tr > td:first-child {
          padding-left: 33px;
          text-align: left;
        }
        .ant-table-tbody > tr > td:first-child {
          padding-left: 13px;
        }
      }
    }
    .ant-spin.ant-spin-spinning {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .ant-spin-dot-item {
        background-color: $themeBlue;
      }
    }
    .qsp-search-x {
      position: relative;
      height: 24px;
      margin: 13px 37px 13px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ant-input-search {
        .ant-input-affix-wrapper,.ant-btn-icon-only {
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .ant-input-affix-wrapper {
          &:focus, &-focused {
            border-color: $themeBlue;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
          &:hover {
            border-color: $themeBlue;
          }
          .ant-input {
            font-size: 12px;
            color: $lightGray;
            &::placeholder {
              font-size: 12px;
              color: $lightGray;
            }
          }
        }
        .ant-btn {
          &:hover, &:focus {
            color: $themeBlue;
            border-color: currentColor;
          }
        }
        .ant-btn-icon-only {
          svg {
            vertical-align: -1px;
          }
        }
      }
      .qsp-btn-fold {
        position: absolute;
        right: -18px;
        top: 50%;
        transform: translate(50%, -50%);
        padding: 0;
        display: inline-block;
        background: none !important;
        border: 0;
        box-shadow: none;
        .icon-fold {
          font-size: 15px;
          color: $themeBlue;
        }
      }

    }

    
  }
}
